---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---
<!-- comment-->
<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5" id="intro">
    <div class="text-4xl py-3 font-bold">Akanksha Sarkar</div>
    <div class="mt-1 text-sm text-gray-500 font-normal"> as2637 at cornell dot edu</div>
    <div class="py-2">
      <text class="text-lg">
        I am a first-year MS student in Computer Science at Cornell University. I am broadly interested in Computer Vision and AI4Science and am currently working on using agents for scientific applications. 
        I am fortunate to be advised by Prof. Jennifer Sun.
        Previously, I earned my B.A. in Math and Computer Science from Cornell University. Feel free to reach out for a chat or collaboration.
      </text>
    </div>
  </div>

  <div id="research-section">
    <div class="text-3xl w-full font-bold mb-2">Research</div>
  </div>

  <HorizontalCard
    title="FormulaCode: Benchmarking agentic optimization of real world code"
    img="/formula.png"
    url="#"
  >
    <Fragment slot="desc">
      <p>
        <!-- <em> Atharva Sehgal, James Hou, <span class="text-[#5072A7] font-semibold">Akanksha Sarkar</span>, Ishaan Mantripragada, Swarat Chaudhuri, Jennifer J. Sun, Yisong Yue<br></em> -->
        <span class="text-[#BE7E60] font-semibold"> under submission ...</span> 
       <!--  <span class="text-[#7E354D] font-semibold"> | [ArXiv]</span> -->
      </p>
      <p class="text-sm opacity-80">
      </p>
    </Fragment>
  </HorizontalCard>
  
  <div class="divider my-0"></div>
  <HorizontalCard
    title="How many classes do we need to see for novel class discovery?"
    img="/proj.png"
    url="#"
  >
    <Fragment slot="desc">
      <p>
        <em><span class="text-[#5072A7] font-semibold">Akanksha Sarkar</span>, Been Kim, Jennifer J. Sun <br></em>
        <span class="text-[#BE7E60] font-semibold"> accepted at DG-EBF @ CVPR 2025</span> |
        <a href="https://arxiv.org/abs/2509.15585" target="_blank" rel="noopener noreferrer"> 
          <span class="text-[#7E354D] font-semibold"> [ArXiv]</span>
        </a>
      </p>
      <p class="text-sm opacity-80">
      </p>
    </Fragment>
  </HorizontalCard>




  <div class="mt-12">
    <div class="text-xl w-full font-bold mb-2">Teaching Experience</div>
  </div>

  <div class="mt-5">
  <div class="flex gap-4">
    <div class="flex flex-col items-center text-sm text-gray-500 border-l-4 border-[#779ECB] pl-1 leading-tight">
    </div>
    <div class="text-base text-gray-800">
      <div class="text-base font-bold text-[#779ECB]"> Fall 2025 </div>
      CS 6784 (Research Design for Machine Learning)
    </div>
  </div>
  </div>

  <div class="mt-3">
  <div class="flex gap-4">
    <div class="flex flex-col items-center text-sm text-gray-500 border-l-4 border-[#779ECB] pl-1 leading-tight">
    </div>
    <div class="text-base text-gray-800">
      <div class="text-base font-bold text-[#779ECB]"> Spring 2025 </div>
      CS 4820 (Introduction to Analysis of Algorithms)
    </div>
  </div>
  </div>

  <div class="mt-3">
  <div class="flex gap-4">
    <div class="flex flex-col items-center text-sm text-gray-500 border-l-4 border-[#779ECB] pl-1 leading-tight">
    </div>
    <div class="text-base text-gray-800">
      <div class="text-base font-bold text-[#779ECB]"> Fall 2023 </div>
      CS 3110 (Functional Programming with OCaml)
    </div>
  </div>
  </div>

  <div class="mt-3">
  <div class="flex gap-4">
    <div class="flex flex-col items-center text-sm text-gray-500 border-l-4 border-[#779ECB] pl-1 leading-tight">
    </div>
    <div class="text-base text-gray-800">
      <div class="text-base font-bold text-[#779ECB]"> Spring 2022 - Spring 2023 </div>
      Math 1120 (Calculus II)
    </div>
  </div>



  <div class="mt-12">
    <div class="text-xl w-full font-bold mb-2">Awards</div>
  </div>

  <div class="mt-5">
  <div class="flex gap-4">
    <div class="flex flex-col items-center text-sm text-gray-500 border-l-4 border-[#A24857] pl-1 leading-tight">
    </div>
    <div class="text-base text-gray-800">
      <div class="text-base font-bold text-[#A24857]"> 2025 </div>
      CRA, Outstanding Undergraduate Research Award nomination
    </div>
  </div>
  </div>

  <div class="mt-3">
  <div class="flex gap-4">
    <div class="flex flex-col items-center text-sm text-gray-500 border-l-4 border-[#A24857] pl-1 leading-tight">
    </div>
    <div class="text-base text-gray-800">
      <div class="text-base font-bold text-[#A24857]"> 2024 </div>
      Cornell University Milstein Summer Research Grant
    </div>
  </div>
  </div>

  <div class="mt-3">
  <div class="flex gap-4">
    <div class="flex flex-col items-center text-sm text-gray-500 border-l-4 border-[#A24857] pl-1 leading-tight">
    </div>
    <div class="text-base text-gray-800">
      <div class="text-base font-bold text-[#A24857]"> 2023</div>
      HackNITR Hackathon, Excellence award
    </div>
  </div>
  </div>


</BaseLayout>
